html {
    direction: rtl;
}

ul {
    padding-right: 0;
}

.dropdown-menu.show,
.about-us,
.testimonial,
footer,
.dropdown-content,
.contact,
form,
.form-box h3,
.profile-sidebar,
.table td,
.table th,
.terms,
.history,
.navbar-light .navbar-nav .nav-item {
    text-align: right;
}

.item .more-details a i,
.content a i,
.orders .table tbody a {
    transform: rotate(180deg);
}

.testimonial-quote {
    left: 60px;
    right: auto;
}

.client-details {
    margin-right: 20px;
    margin-left: 0;
}

.page-shape.shape_07 {
    left: 0;
}

.profile-sidebar.nav-pills .nav-link {
    border-left: none;
    border-right: 3px solid transparent;
}

.profile-sidebar.nav-pills .nav-link.active,
.profile-sidebar.nav-pills .show>.nav-link,
.profile-sidebar .nav-link:focus,
.profile-sidebar .nav-link:hover {
    border-color: #f97c07;
}

.add-adv .input-group span {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
}

.add-adv .input-group .form-control {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
    margin-right: -1px;
    margin-left: 0;
}

.modal-header .close {
    margin: -1rem auto -1rem -1rem;
}


/* .dropdown-content {
    left: 15px;
} */

.text-right,
.card h3 {
    text-align: left !important;
}

.text-left {
    text-align: right !important;
}

.ml-3,
.mx-3 {
    margin-left: 0 !important;
    margin-right: 1rem !important;
}

.ml-auto,
.mx-auto {
    margin-left: 0 !important;
    margin-right: auto!important;
}

@media (min-width: 992px) {
    .text-lg-left {
        text-align: right!important;
    }
    .text-lg-right {
        text-align: left!important;
    }
}