/* Start main style */

body {
    font-family: 'Roboto', sans-serif;
}

ul {
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;
}

img {
    max-width: 100%;
}

a:hover {
    text-decoration: none;
}

.swiper {
    max-height: 600px;
}

.my_btn {
    padding: .375rem 1.5rem;
}

.my_btn,
.my_btn .btn-primary.focus,
.my_btn .btn-primary:focus,
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
    background: #f97c07;
    border-color: #f97c07;
}

.my_btn_success{
    background: #1c8026;
    border-color: #1c8026;
}
.my_btn_dengers{
    background: red;
    border-color: red;
}
.my_btn:hover {
    background: #000000;
    border-color: #000000;
}

.ptb-70 {
    padding: 70px 0;
}

.ptb-40 {
    padding: 40px 0;
}

.section-title {
    position: relative;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    color: #f97c07;
    padding-left: 45px;
    padding-right: 45px;
    margin-bottom: 15px;
}

.section-title::after {
    position: absolute;
    content: "";
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background: #f97c07;
    width: 30px;
    height: 2px;
}

.section-title::before {
    position: absolute;
    content: "";
    left: 0;
    top: 45%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background: #f97c07;
    width: 30px;
    height: 2px;
}


/* a, */

.item .more-details a i,
.service-item,
.service-icon,
.service-item .content a i {
    transition: all .3s ease-in-out;
}

.social-links li {
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    border-radius: 3px;
    box-shadow: 0 5px 4px rgb(135 135 135 / 50%);
}

.social-links li a {
    color: #000000;
    font-size: 15px;
}

.close:not(:disabled):not(.disabled):focus,
.close:not(:disabled):not(.disabled):hover {
    outline: none;
    box-shadow: none;
}

.breadcrumb {
    padding: 25px 15px;
    border-radius: 0;
    margin-bottom: 0;
}

.breadcrumb a {
    color: #f97c07;
}

.custom-control-input:checked~.custom-control-label::before {
    border-color: #f97c07;
    background-color: #f97c07;
}

.loader {
    background: #fff;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-link {
    color: #000000;
}

.page-item.active .page-link {
    background: #000000;
    border-color: #000000;
    color: #f97c07;
}

.page-title-area {
    position: relative;
    z-index: 2;
    background-color: #f6fcff;
    padding: 150px 0;
}

.page-shape {
    position: absolute;
    z-index: 1;
}

.page-shape.shape_04 {
    left: 16.61%;
    top: 60px;
    animation: rotating infinite 5s linear;
}

.page-shape.shape_06 {
    right: 14%;
    top: 10%;
}

.page-shape.shape_07 {
    left: -15px;
    bottom: 33px;
    width: 16%;
}

.page-shape.shape_08 {
    right: 80px;
    bottom: 23px;
}

.page-shape.shape_09 {
    right: 11.66%;
    bottom: 27px;
    animation: float infinite 5s linear;
}

.styled-text {
    font-size: 24px;
    font-weight: 400;
    color: #f97c07;
}

@-webkit-keyframes rotating
/* Safari and Chrome */

{
    from {
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.rotating {
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
}

@keyframes float {
    0% {
        transform: translatey(0px);
    }
    50% {
        transform: translatey(-20px);
    }
    100% {
        transform: translatey(0px);
    }
}

#backToTop {
    display: inline-block;
    background-color: #FF9800;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}

#backToTop::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
}

#backToTop:hover {
    cursor: pointer;
    background-color: #333;
}

#backToTop:active {
    background-color: #555;
}

#backToTop.show {
    opacity: 1;
    visibility: visible;
}


/* End main style */


/* Start header */

.top-nav {
    padding: 5px 0;
    background: #333333;
}

.top-nav a {
    color: #ffffff;
    font-size: 13px;
}

.top-nav ul li {
    display: inline-flex;
    margin-right: 15px;
}

.top-nav ul li:hover a {
    color: #f97c07;
}

.top-nav .dropdown-menu li {
    padding: 5px 15px;
    display: block;
    margin-right: 0;
}

.top-nav .dropdown-menu li:hover {
    background: #efefef;
}

.top-nav .dropdown-menu a {
    color: #000000;
    display: block;
}

.top-nav .dropdown img {
    width: 20px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background: #ffffff;
    z-index: 99;
}

.navbar {
    padding: 0;
}

.navbar img {
    max-width: 80px;
}

.navbar-light .navbar-nav .nav-item {
    margin-right: 5px;
}

.navbar-light .navbar-nav .nav-link {
    position: relative;
    overflow: hidden;
    color: #000000;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link,
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #f97c07;
}

.navbar .nav-link::before {
    transition: 300ms;
    height: 3px;
    width: 0;
    content: "";
    position: absolute;
    background-color: #f97c07;
    bottom: 0;
    left: 0;
}

.navbar .nav-link:hover::before,
.navbar-light .navbar-nav .nav-link:focus::before,
.navbar-light .navbar-nav .nav-item.active .nav-link::before {
    width: 100%;
}

.dropdown-content {
    visibility: hidden;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 3;
    border-radius: 5px;
    transition: all .2s ease-in-out;
}

.dropdown-content a {
    color: black;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.navbar-light .navbar-nav .nav-item:hover .dropdown-content {
    visibility: visible;
}


/* End header */


/* Start footer */

footer {
    background: #333333;
    position: relative;
    padding-bottom: 50px !important;
}

.site-footer-map {
    background-image: url('../imgs/site-footer-mape.png');
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    opacity: 0.04;
    z-index: 0;
}

footer a,
footer .footer-widget-title {
    color: #ffffff;
}

.about-text {
    font-size: 16px;
    color: #ada8ba;
    margin: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    line-height: 30px;
}

.logo img {
    max-width: 100px;
    border-radius: 5px;
}

footer .social-links li {
    display: inline-flex;
    width: 35px;
    height: 35px;
    transition: all .2s ease-in-out;
    box-shadow: rgb(215 215 215 / 10%) 0px 20px 25px -5px, rgb(229 229 229 / 4%) 0px 10px 10px -5px
}

footer .social-links li a {
    font-size: 18px;
    transition: all .2s ease-in-out;
    width: 100%;
    text-align: center;
}

footer .social-links li:hover {
    background: #000000;
}

footer .social-links li:hover a {
    color: #f97c07;
}

.footer-widget-title {
    font-size: 20px;
    font-weight: 800;
    line-height: 30px;
    margin-bottom: 30px;
}

.contact-list i {
    color: #f97c07;
    margin-right: 5px;
}

.contact-list li:hover a,
.links-list li:hover a {
    color: #f97c07;
}

.links-list {
    padding: 30px 0;
}

.links-list li {
    margin-top: 10px;
}

.copyright {
    padding: 15px 0;
    background: #000;
    color: #fff;
    font-size: 13px;
}

.copyright a {
    color: #ffffff;
}


/* End footer */


/* Start main slider section */

.main-slider {
    position: relative;
}

.overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .7);
    position: absolute;
}

.main-slider img {
    display: block;
    width: 100%;
    object-fit: cover;
    max-height: 400px;
}

.main-slider .swiper-button-next,
.main-slider .swiper-rtl .swiper-button-prev,
.main-slider .swiper-button-prev,
.main-slider .swiper-rtl .swiper-button-next {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    background-image: none;
    background: rgba(0, 0, 0, .7);
    transition: all .2s ease-in-out;
    border-radius: 5px;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 17px;
}

.main-slider .swiper-button-next:hover,
.main-slider .swiper-rtl .swiper-button-prev:hover,
.main-slider .swiper-button-prev:hover,
.main-slider .swiper-rtl .swiper-button-next:hover {
    background: #f97c07;
}

.main-slider .slide-caption {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.main-slider .slide-caption h2 {
    color: #ffffff;
}

.main-slider .slide-caption p {
    color: #f97c07;
    font-size: 30px;
    font-weight: bold;
}


/* End main slider section */


/* Start order section */

.order,
.bg-1 {
    background: #f1f1f1 !important;
}

.item {
    position: relative;
    display: block;
    box-shadow: 0px 0px 40px 0px rgb(0 0 0 / 7%);
    margin-bottom: 50px;
}

.order.featured {
    padding-bottom: 15px;
}

.order.featured .swiper {
    padding-bottom: 20px;
}

.box-image {
    position: relative;
    display: block;
    overflow: hidden;
    border-radius: 5px 5px 0 0;
    max-height: 205px;
}

.box-image img {
    transition: all .3s ease-in-out;
}

.content {
    position: relative;
    display: block;
    padding: 35px 35px 40px;
    background: #ffffff;
    box-shadow: 0px 0px 25px 0px rgb(0 0 0 / 4%);
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    border-radius: 0 0 5px 5px;
}

.order .content {
    padding: 35px 15px 40px 15px;
    border-radius: 5px;
}

.content h3 {
    position: relative;
    color: #000000;
    font-size: 14px;
    font-weight: 700;
    text-transform: capitalize;
    margin: 0 0 7px;
}

.item .content::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-bottom: 2px solid #f97c07;
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease
}

.item .more-link {
    position: absolute;
    left: 0;
    bottom: -30px;
    width: 100%;
    display: block;
    text-align: center;
    z-index: 1;
}

.item .more-link a {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    background: #ffffff;
    font-size: 14px;
    color: #000000;
    box-shadow: 10px 10px 35px 0px rgb(0 0 0 / 5%), 0px 0px 35px 0px rgb(0 0 0 / 5%);
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

.item:hover {
    box-shadow: 0px 0px 40px 0px rgb(0 0 0 / 10%);
}

.item:hover .content::after {
    -ms-transform: scale(1);
    transform: scale(1);
}

.item:hover img {
    /* transform: scale(1.1); */
}

.item:hover .more-link a {
    background: #f97c07;
    color: #ffffff;
}

.item .more-details {
    font-size: 13px;
}

.item .more-details span,
.item .more-details a {
    color: #666666;
}

.item .more-details a:hover i,
.service-item .content a:hover i {
    padding-left: 5px;
}

.order .content ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
    font-size: 15px;
}

.order .content ul li img {
    width: 20px;
}

.order-details .card {
    margin-bottom: 1.5rem;
}

.order-details {
    background: #f1f1f1;
}

.order-details .avatar-lg {
    width: 4.5rem;
    height: 4.5rem;
}


/* End order section */


/* Start services section */

.services {
    background: #f6fcff;
}

.service-item {
    padding: 50px 20px 57px 20px;
    border-radius: 5px;
    background: white;
    box-shadow: 0px 0px 26px rgb(215 212 212 / 35%);
    margin-bottom: 30px;
}

.service-icon {
    display: inline-block;
    width: 124px;
    height: 124px;
    background: rgba(206, 239, 255, 0);
    border: 1px solid transparent;
    border-radius: 50%;
    text-align: center;
    line-height: 124px;
    margin: 0 auto;
    margin-bottom: 35px;
    position: relative;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.service-icon img {
    width: 78px;
    height: 78px;
    border-radius: 10px;
}

.service-item .content {
    box-shadow: none;
    padding: 0;
}

.service-item .content h3 {
    margin-bottom: 15px;
}

.service-item .content p {
    margin-bottom: 35px;
}

.service-item:hover {
    transform: translateY(-15px);
}

.service-item:hover .service-icon {
    border-color: #f9f0ee;
}

.service-item .content a {
    color: #000000;
}

.service-item .content a:hover {
    color: #f97c07;
}


/* End services section */


/* Start testimonials section */

.testimonial {
    background: #f1f1f1;
}

.testimonial h3 {
    font-size: 40px;
}

.testimonial-item {
    position: relative;
    display: block;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 60px 60px 50px;
    transition: all 500ms ease;
}

.client-info {
    display: flex;
    align-items: center;
    margin-bottom: 17px;
}

.client-img img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.client-details {
    margin-left: 20px;
}

.client-name {
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    color: #f97c07;
}

.client-title {
    font-size: 16px;
    color: #000000;
    margin: 0;
    line-height: 26px;
}

.testimonial-quote {
    position: absolute;
    top: 68px;
    right: 60px;
    font-size: 40px;
    transition: all .2s ease-in-out;
}

.testimonial-item:hover .testimonial-quote {
    color: #f97c07;
}

.testimonial-text {
    font-size: 20px;
    font-weight: 300;
    margin: 0;
    line-height: 36px;
    color: #666666;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    border-radius: 3px;
}

.swiper-pagination-bullet-active {
    background: #f97c07;
}


/* End testimonials section */


/* Start login section */

.login,
.register {
    /* background-image: url("../imgs/login.svg"); */
    /* background-color: #fffae5; */
    /* background-image: linear-gradient(to right, #fffae5, #ffeea9); */
    /* background-size: cover; */
}

.form-box {
    background: #f1f1f1;
    border-radius: 0 0 5px 5px;
    padding: 60px 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.form-box h3 {
    font-size: 24px;
    margin-bottom: 30px;
}

.form-box .form-control {
    min-height: 40px;
}

form label em {
    color: #f00;
}

.login a,
.register a {
    color: #000000;
}

.login a:hover,
.register a:hover {
    color: #f97c07;
}

.register-acc a {
    padding-bottom: 2px;
    border-bottom: 2px solid #ddd
}

.register-acc a:hover {
    border-color: #f97c07;
}

.register .nav {
    justify-content: space-between;
    background: #f1f1f1;
}

.register .nav .nav-item {
    width: 50%;
    text-align: center;
}

.register .nav .nav-link.active {
    background: #ffffff;
    color: #f97c07;
}

.upload-image,
.upload-image span {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    position: relative;
}

.upload-image span {
    width: 50px;
    height: 50px;
    font-size: 35px;
    border: 1px dashed #666;
    padding: 8px;
    border-radius: 3px;
}

.upload-image input {
    opacity: 0;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0;
}


/* End login section */


/* Start profile page */

.profile-sidebar {
    height: 100%;
    background: #f1f1f1;
    /* padding: 35px 15px; */
    border-radius: 5px;
    box-shadow: rgb(50 50 93 / 25%) 0px 50px 100px -20px, rgb(0 0 0 / 30%) 0px 30px 60px -30px;
}

.profile-sidebar.nav-pills .nav-link {
    color: #000000;
    border-left: 3px solid transparent;
    border-radius: 0;
    padding: 0 1rem;
    margin: 0.5rem 0;
    outline: none;
    font-weight: normal;
    transition: all .2s ease-in-out;
}

.profile-sidebar.nav-pills .nav-link:last-child {
    color: #eb3333;
}

.profile-sidebar.nav-pills .nav-link.active,
.profile-sidebar.nav-pills .show>.nav-link,
.profile-sidebar .nav-link:focus,
.profile-sidebar .nav-link:hover {
    background: transparent;
    color: #f97c07;
    border-color: #f97c07;
}

.profile-sidebar.nav-pills .nav-link i {
    font-size: 14px;
    margin-right: 5px;
}

.profile .form-box {
    padding: 30px;
}

.profile .profile-image {
    width: 120px;
    height: 120px;
    position: relative;
    border: 4px solid #ffffff;
    border-radius: 5px;
}

.profile .profile-image input {
    opacity: 0;
}

.profile .profile-image span,
.profile .profile-image input {
    position: absolute;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    border-radius: 50%;
    font-size: 13px;
    top: -15px;
    left: -15px;
    cursor: pointer;
}

.profile .card {
    margin-bottom: 1rem;
}

.profile .card-body {
    padding: 1rem;
}

.card h3 {
    font-size: 18px;
    margin-bottom: .5rem;
}

.avatar-lg {
    height: 3.5rem;
    width: 3.5rem;
}

.avatar-title {
    align-items: center;
    color: #fff;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
}

.font-22 {
    font-size: 22px;
}

.order-details .table td,
.order-details .table th {
    padding: .25rem;
}

.add-adv .input-group span {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    min-width: 45px;
    justify-content: center;
}

.add-adv .input-group .form-control {
    margin-left: -1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}


/* End of profile page */


/* Start tracking page */

.tracking .card {
    background: #f1f1f1;
}

.mapouter {
    position: relative;
    text-align: right;
    height: 500px;
    width: 100%;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 500px;
    width: 100%;
}


/* End tracking page */


/* Start contact page */

.contact-container {
    margin-top: 30px;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
    min-height: 465px;
}

.contact-container h3 {
    font-size: 18px;
    color: #f97c07;
    margin-bottom: 15px;
}

.contact-address li {
    margin-bottom: 15px;
}

.contact-address li a {
    color: #000000;
}

.contact-address li span,
.contact .social-links li {
    width: 35px;
    height: 35px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #dddddd;
    border-radius: 5px;
    margin-right: 8px;
    transition: all .2s ease-in-out;
}

.contact-address li:hover span,
.contact .social-links li:hover {
    background: #333333;
    color: #f97c07;
}

.contact-address li:hover a,
.contact-address li:hover,
.contact .social-links li:hover a {
    color: #f97c07;
}

.contact .social-links li a {
    width: 100%;
    text-align: center;
}


/* End contact page */


/* Start about page */

.about-us h2 {
    color: #f97c07;
    font-size: 16px;
}

.about-us h3 {
    font-size: 33px;
}


/* End about page */


/* Start orders page */

.orders .table thead th {
    border-top: 0;
}

.orders .table tbody tr:nth-child(odd) {
    background: #f1f1f1;
}

.orders .table tbody a {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s ease-in-out;
    border-radius: 50%;
    color: #333333;
    font-size: 15px;
}

.orders .table tbody a:hover {
    background: #dddddd;
}

.orders .table .status {
    display: inline-block;
    text-align: center;
    min-width: 100px;
    background: rgb(125 156 193 / 20%);
    padding: 3px;
    border-radius: 30px;
}

.orders .table .status.delivered {
    background: rgba(51, 208, 103, 0.15);
    color: rgb(51, 208, 103);
}

.orders .table .status.canceled {
    background: rgb(255, 225, 230);
    color: rgb(233, 69, 96);
}


/* End orders page */

@media(max-width: 992px) {
    .navbar-light .navbar-nav .nav-link {
        display: inline-block;
    }
    .profile .form-box {
        min-height: auto;
    }
    .navbar-light .navbar-nav .nav-item,
    .navbar {
        padding: 0 15px;
    }
}

@media(max-width: 768px) {
    .testimonial h3 {
        font-size: 24px;
    }
    .footer-widget-contact {
        margin-top: 30px;
    }
    .links-list {
        padding: 10px 0;
    }
    .footer-widget-title {
        margin-bottom: 0;
    }
    .tab-content {
        margin-top: 30px;
    }
}

@media(max-width: 576px) {
    .page-title-area {
        padding: 50px 0;
    }
    .main-slider img {
        height: 200px;
    }
}

@media(max-width: 375px) {
    .main-slider .slide-caption h2 {
        font-size: 15px;
    }
    .main-slider .slide-caption p,
    .main-slider .my_btn,
    .swiper-button-next:after,
    .swiper-button-prev:after {
        font-size: 14px;
    }
    .main-slider .swiper-button-next,
    .main-slider .swiper-rtl .swiper-button-prev,
    .main-slider .swiper-button-prev,
    .main-slider .swiper-rtl .swiper-button-next {
        width: 35px;
        height: 35px;
    }
    .testimonial-item {
        padding: 20px 20px 50px;
    }
    .testimonial-quote {
        right: 20px;
        font-size: 30px;
    }
    .top-nav {
        text-align: center;
    }
}